[mysqld]

key_buffer_size        = 16M
max_allowed_packet     = 150M

thread_stack           = 192K
thread_cache_size      = 32

max_connections        = {{ percona_server.max_connections }}

query_cache_type       = 1
query_cache_limit      = 4M
query_cache_size       = 64M

#join_buffer_size       = 4M

#table_definition_cache = 4000
#table_open_cache       = 4000

# open_files_limit       = 65535
# max_connect_errors     = 100000

# back_log               = 200
# interactive_timeout    = 7200
# wait_timeout           = 7200
# net_read_timeout       = 120
# net_write_timeout      = 300
# sort_buffer_size       = 2M
# read_buffer_size       = 2M
# read_rnd_buffer_size   = 16M
# join_buffer_size       = 16M

# tmp_table_size         = 128M
# max_heap_table_size    = 128M
