ssl_stapling              on;
ssl_stapling_verify       on;
ssl_dhparam               {{ dhparam }};
ssl_certificate           {{ tls_certificate_path }};
ssl_certificate_key       {{ tls_privete_key_path }};
ssl_protocols             TLSv1.2 TLSv1.3;
ssl_prefer_server_ciphers on;
ssl_ciphers               "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
ssl_ecdh_curve            secp384r1;
ssl_session_cache         shared:SSL:2m;
ssl_session_timeout       24h;
ssl_session_tickets       off;
add_header                "X-UA-Compatible" "IE=Edge";
