###############################################################################
### default upstream
###############################################################################
upstream {{ php_fpm_default_upstgream }} {
    server unix:{{ php_fpm_sock_path }};
}
